.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.mainSection {
  margin: 20px 0;
}

.mainSection img {
  max-width: 100%;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.formDiv {
  display: flex;
  gap: 10px;
}
